<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosafia.gameapp.mappers.gameroom.GameRoomMapper">
    <insert id="insertGameRoom">
        INSERT INTO GameRoom (room_name, max_players, is_private, creator_id, created_at, room_password)
        VALUES (#{roomName}, #{maxPlayers}, #{isPrivate}, #{creatorId}, #{createdAt}, #{roomPassword})
    </insert>

    <select id="selectGameRoomById" resultType="com.kosafia.gameapp.models.gameroom.GameRoom">
        SELECT * FROM GameRoom WHERE room_id = #{roomId}
    </select>

    <delete id="deleteGameRoom">
        DELETE FROM GameRoom WHERE room_id = #{roomId}
    </delete>
</mapper>