.game-room {
    display: flex; /* 기본 flex 방향으로 가로 배치 */
    height: 100vh; /* 전체 높이를 화면 높이에 맞춤 */
}

.player-area {
    display: flex;  /* Flexbox를 사용하여 가로 방향으로 배치 */
    flex-wrap: wrap;  /* 자식 요소가 넘칠 경우 다음 줄로 이동하도록 설정 */
    flex: 7;  /* 가로 공간의 70%를 차지 */
    gap: 40px;  /* 요소 간의 간격 */    
    height: 100%;  /* 전체 높이를 채우도록 설정 */
    border: 3px solid #ccc;
    height  : 99.65%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 50px;
    width: 100%; /* 전체 너비를 채우도록 설정 */
    border-bottom: 3px solid #ccc; 
}

.chat-area {
    display: flex;
    flex-direction: row; /* 가로 방향으로 정렬 */
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    padding: 20px;
}
