
.role-option {
    width: 100px; /* 각 역할의 너비 */
    height: 100px; /* 각 역할의 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.595);
    border: 1px solid #3b3b3b;
    border-radius: 8px;
    cursor: pointer;
    position: relative; /* 포지션 설정 */
}

.role-selection {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.role-option img {
    width: 50px; /* 이미지 크기 */
    height: 50px; /* 이미지 크기 */
    margin-bottom: 10px; /* 이미지와 역할 이름 사이 간격 */
}

.role-option span {
    font-size: 16px; /* 글자 크기 */
    text-align: center; /* 중앙 정렬 */
    padding-top: 150px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* 배경을 어둡게 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 가장 위에 표시 */
    backdrop-filter: blur(4px); /* 배경 흐림 효과 추가 */
}

.popup-content {
    position: fixed; /* 화면에 고정 */
    top: 50%; /* 화면 중앙에 위치 */
    left: 50%; /* 화면 중앙에 위치 */
    width: 600px;
    height: 300px;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-image: url('../../../public/img/memo.png');
    background-size: cover; 
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    padding: 20px; /* 패딩 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    z-index: 1000; /* 다른 요소들 위에 표시 */
}

.popup-content h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}

.circle {
    width: 40px; 
    height: 40px; 
    background-color: #b0bec5; /* 회색 배경 색상 */
    border-radius: 50%; /* 원형으로 만들기 */
    display: flex;
    justify-content: center;
    align-items: center; /* 버튼을 중앙에 배치 */
}

.button-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%; 
}

/* 배경 덮개 추가 */
.popup-overlay {
    position: fixed; /* 화면에 고정 */
    top: 0; /* 전체 화면을 덮도록 */
    left: 0; /* 전체 화면을 덮도록 */
    width: 100vw; /* 전체 너비 */
    height: 100vh; /* 전체 높이 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    z-index: 999; /* 모달보다 아래에 위치 */
}
