/* 배경 설정 */
.login-background {
  background-color: #6c0c0cba;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 카드 설정 */
.login-card {
  background-color: white;
  max-width: 900px; /* 카드의 최대 너비 */
  width: 100%;
  border-radius: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; /* 카드가 화면에 맞추어 조정되도록 설정 */
}

/* 이미지 설정 */
.login-image {
  width: 110%;
  height: 120%;
  object-fit: contain; /* 이미지가 잘리지 않고 전체가 보이도록 설정 */
  max-height: 100%; /* 카드의 높이에 맞추어 이미지가 조정되도록 설정 */
}

/* 카드 본문 설정 */
.login-card-body {
  padding: 4rem;
  flex: 1;
}

.mb-4.px-5 {
  margin-top: 10px; /* 원하는 간격으로 조정 가능 */
}

/* 비밀번호 잊기 링크 간격 조정 */
.small.text-muted.mt-2 {
  margin-top: 10px; /* 원하는 만큼 조정 */
  display: block; /* 줄바꿈을 위해 추가 */
  text-align: center; /* 가운데 정렬 */
}
/* 회원가입 링크 스타일 조정 */
.text-muted {
  display: block; /* 줄바꿈 */
  text-align: center; /* 가운데 정렬 */
}
